
name : Check Template

jobs :
  build :
    runs-on : ubuntu-latest
    strategy :
      fail-fast : false

    steps :
      - name : Checkout
        uses : actions/checkout@v4
        with :
          submodules : recursive

      - name : Compute Current Hash
        run  : |
          find . -name "hgrc.*"  -exec sha256sum -b {} \; | tee    Hash1.sha256
          find . -name "run*.sh" -exec sha256sum -b {} \; | tee -a Hash1.sha256
        shell : bash

      - name : Re-Generate Files.
        run  : |
          hg --version || :
          ./initwd.sh DocViewTemplate
          ./initwd.sh GitModuleTest
          ./initwd.sh HouseholdAccounts
          ./initwd.sh LibraryTemplate
          ./initwd.sh Score4
          ./initwd.sh Settings
        shell : bash

      - name : Check Generated Files Hash
        run  : |
          find . -name "hgrc.*"  -exec sha256sum -b {} \; | tee    Hash2.sha256
          find . -name "run*.sh" -exec sha256sum -b {} \; | tee -a Hash2.sha256
          sha256sum -c Hash1.sha256
          diff -sq Hash1.sha256 Hash2.sha256
        shell : bash

on :
  push :
    branches : [ "master", "develop" ]
  pull_request :
    branches : [ "master", "develop" ]
  workflow_dispatch :
